<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #007BFF;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        nav {
            background-color: #333;
            color: #fff;
        }

        ul.navbar {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
        }

        .navbar li {
            margin-right: 20px;
        }

        .navbar a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        .navbar a:hover {
            text-decoration: underline;
        }

        /* Estilos para el contenido de la página */
        .content {
            background-color: #fff;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>Menú Principal</h1>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul class="navbar">
                <li class="menu-item"><a href="#">Inicio</a></li>
                <li class="menu-item"><a href="#">Productos</a></li>
                <li class="menu-item"><a href="#">Servicios</a></li>
                <li class="menu-item"><a href="/Tienda">Tienda</a></li>
                <li class="menu-item"><a href="#">Acerca de</a></li>
                <li class="menu-item"><a href="#">Contacto</a></li>
                <!-- Puedes agregar más elementos al menú aquí -->
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="content">
            <h2>Bienvenido al Menú Principal</h2>
            <p>Esta es una plantilla de página de menú principal. Puedes agregar más elementos al menú y contenido a esta página según tus necesidades.</p>
        </div>
    </div>
</body>
</html>
